/* Wrapper around the AppImage container and scroll buttons */
.AppImage-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 80%;
  overflow: hidden;
  padding-top: 10px;
  justify-content: center;
  margin: 0 auto;
}

/* AppImage Container Styles */
.AppImage-container {
  display: flex;
  width: 70%;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -Appkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.AppImage-container::-Appkit-scrollbar {
  display: none;
}

/* Ensure smooth snapping to images */
.AppImage-item {
  flex: 0 0 auto;
  scroll-snap-align: center;
  border-radius: 5px;
  overflow: hidden;
  
  margin-right: 50px;
  background-color: aliceblue;
  padding: 10px;

  width: 25vw;
  height: calc(25vw * 9 / 16);
  
  display: flex;
  justify-content: center;
  align-items: center;
}

/* AppImage Item Styles */
.AppImage-item img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/* Scroll Button Styles */
.scroll-buttons {
  background-color: transparent;
  color: #333;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.scroll-button.lefts {
  left: 0;
  font-size: 30px;
}

.scroll-button.rights {
  right: 0;
  font-size: 30px;
}

.scroll-button:hover {
  background-color: #555;
}

/* Media Query for Large Screens (3 images) */
@media screen and (min-width: 1200px) {
  .AppImage-item {
    width: 25vw;
    height: calc(25vw * 9 / 16);
  }
}

/* Media Query for Medium Screens (2 images) */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .AppImage-item {
    width: 25vw;
    height: calc(25vw * 9 / 16);
  }
}

/* Media Query for Small Screens/Portrait (1 image) */
@media screen and (min-width: 401px) and (max-width: 767px) {
  .AppImage-item {
    width: 50vw;
    height: calc(50vw * 9 / 16);
  }
}

/* Media Query for Extra Small Screens (1 image) */
@media screen and (max-width: 400px) {
  .AppImage-item {
    width: 50vw;
    height: calc(50vw * 9 / 16);
  }

  .scroll-buttons {
    display: none;
  }
}
