/* Wrapper around the FeatureImage container and scroll buttons */
.FeatureImage-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 80%;
  overflow: hidden; /* Ensure content doesn't overflow */
  padding-top: 10px;
  justify-content: center;
  margin: 0 auto;
}

/* FeatureImage Container Styles */
.FeatureImage-container {
  display: flex;
  width: 70%;
  overflow-x: auto;
  scroll-behavior: smooth; /* Enable smooth scrolling */
  scroll-snap-type: x mandatory; /* Snap to each image */
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
}

.FeatureImage-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Webkit browsers */
}

/* Ensure smooth snapping to images */
.FeatureImage-item {
  flex: 0 0 auto; /* Prevent flex items from shrinking or growing */
  scroll-snap-align: center; /* Align images to center */
  border-radius: 5px; /* Rounded corners for images */
  overflow: hidden; /* Hide overflow */
  
  margin-right: 50px; /* Adjust margin as needed */
  background-color: aliceblue;
  padding: 10px;

  width: 25vw; /* Width based on viewport width */
  height: calc(25vw * 9 / 16); /* Calculate height based on the 16:9 aspect ratio */
  
  display: flex; /* Enable flexbox */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

/* FeatureImage Item Styles */
.FeatureImage-item img {
  width: 100%; /* Width based on viewport width */
  height: auto;
  display: block; /* Remove any extra space below image */
  object-fit: cover; /* Ensure the image covers the container properly */
}

/* Scroll Button Styles */
.scroll-buttons {
  background-color: transparent;
  color: #333;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.scroll-button.lefts {
  left: 0;
  font-size: 30px;
}

.scroll-button.rights {
  right: 0;
  font-size: 30px;
}

.scroll-button:hover {
  background-color: #555;
}

/* Media Query for Large Screens (3 images) */
@media screen and (min-width: 1200px) {
  .FeatureImage-item {
    width: 25vw; /* Width based on viewport width */
    height: calc(25vw * 9 / 16); /* Calculate height based on the 16:9 aspect ratio */
  }
}

/* Media Query for Medium Screens (2 images) */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .FeatureImage-item {
    width: 25vw; /* Width based on viewport width */
    height: calc(25vw * 9 / 16); /* Calculate height based on the 16:9 aspect ratio */
  }
}

/* Media Query for Small Screens/Portrait (1 image) */
@media screen and (min-width: 401px) and (max-width: 767px) {
  .FeatureImage-item {
    width: 50vw; /* Width based on viewport width */
    height: calc(50vw * 9 / 16); /* Calculate height based on the 16:9 aspect ratio */
  }
}

/* Media Query for Small Screens/Portrait (1 image) */
@media screen and (max-width: 400px) {
  .FeatureImage-item {
    width: 50vw; /* Width based on viewport width */
    height: calc(50vw * 9 / 16); /* Calculate height based on the 16:9 aspect ratio */ 
  }
  
  .scroll-buttons {
    display: none;
  }
}
